.left {
  border: 1px solid;
  width: 63%;
  height: 44.6rem;
  background-color: rgb(243, 243, 243);
}

.logo img {
  width: 10rem;
  height: 10rem;
  padding-bottom: 0px;
  display: flex;
  margin: auto;
}

.logo-left {
  display: flex;
}

.logo-left img {
  width: 10rem;
  height: 10rem;
  padding-bottom: 0px;
  display: flex;
}

.hello {
  margin: 0px auto;
}

.hello2 {
  font-size: 12px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 5px;
}

.third-party {
  display: flex;
  justify-content: space-between;
  width: 16rem;
  margin-left: 0;
  margin-bottom: 25px;
}

.google {
  background-color: #FEF1F1FF;
  width: 75px;
  border-radius: 30px;
}

.google img {
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  margin: 6px 26px;
}

.facebook {
  background-color: #F3F6FBFF;
  width: 75px;
  border-radius: 30px;
}

.facebook img {
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  margin: 6px 26px;
}

.apple {
  background-color: #F3F4F6FF;
  width: 75px;
  border-radius: 30px;
}

.apple img {
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  margin: 6px 26px;
}

.temp {
  margin-top: 26px;
  margin-right: 20px;
}

.ending {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2px;
  font-size: 11px;
  margin-top: 51px;
}

