.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo {

    width: 100px;
    height: 100px;
    display: block;
}

.drop-btn {
    width: 150px;
    height: 50px;
    border: 1px solid white;
    color: #808080;
}

.tabs {

    width: 700px;
    height: 100px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #808080;

}

.nav-logos {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.search-option {
    width: 230px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(54, 54, 54);
    border-radius: 10px;
}

.navbar-register {

    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

a {
    color: #117B34FF;
    text-decoration: none;
}

.sigup-btn {
    width: 80px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #117B34FF;
    opacity: 1;
    border: 1px solid #117B34FF;
    border-radius: 6px;
    color: #FFFFFFFF;
    font-size: 14px;
}


.menu-logo {
    width: 20px;
    height: 20px;
}

.desk-tab {
    display: block;
}

.responsive-tab {
    display: none;
}

/* style for Mobile */
@media only screen and (max-width: 480px) {
    .responsive-tab {
        display: block;
    }

    .logo {
        display: none;
    }

    .desk-tab {
        display: none;
    }

    .navbar {
        width: 470px;
    }
}