.left {
  border: 1px solid;
  width: 69%;
  height: 44.6rem;
  /* background-color: rgb(243, 243, 243); */
}

.web-body {
  display: flex;
}

.right img {
  height: 44.6rem;
}

.logo img {
  width: 10rem;
  height: 10rem;
  padding-bottom: 0px;
  display: flex;
  margin: auto;
}

.logo-left {
  display: flex;
}

.logo-left img {
  width: 10rem;
  height: 10rem;
  padding-bottom: 0px;
  display: flex;
}

.hello {
  margin: 0px auto;
}

.hello2 {
  font-size: 12px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 5px;
}

.third-party {
  display: flex;
  justify-content: space-between;
  width: 16rem;
  margin-left: 0;
  margin-bottom: 25px;
}

.google {
  background-color: #FEF1F1FF;
  width: 75px;
  border-radius: 30px;
}

.google img {
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  margin: 6px 26px;
}

.facebook {
  background-color: #F3F6FBFF;
  width: 75px;
  border-radius: 30px;
}

.facebook img {
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  margin: 6px 26px;
}

.apple {
  background-color: #F3F4F6FF;
  width: 75px;
  border-radius: 30px;
}

.apple img {
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  margin: 6px 26px;
}

.temp {
  margin-top: 26px;
  margin-right: 20px;
}

.ending {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2px;
  font-size: 11px;
  margin-top: 51px;
}

.navbar {
  border-bottom: 1px solid rgba(137, 137, 137, 0.405);
  padding-bottom: 0;
  padding-top: 0;
  display: flex;
  position: sticky;
  top: 0;
  background: white;
  z-index: 999;
}

.right-navbar {
  display: flex;
  margin-right: 1.7rem;
}

.logo-navbar {
  width: 9rem;
  height: 3rem;
  margin-right: 2.2rem;
  margin-top: 2px;
  margin-left: 1rem;
}

.navbar2 {
  display: flex;
}

.tabs {
  margin-top: 2px;
  font-size: x-small;
}

.search {
  background-color: #F3F4F6FF;
  border-radius: 11px;
  width: 20rem;
  height: 30px;
  margin-top: 5px;
}

.search-icon {
  height: 1rem;
  width: 1rem;
  margin-left: 5px;
  margin-bottom: 3px;
}

.notification-logo {
  margin-right: 0.9rem;
  margin-left: 2.4rem;
  width: 1.5rem;
  height: 1.5rem;
  margin-top: 8px;
}

.user-img {
  width: 2rem;
  height: 2rem;
  margin-top: 4px;
}

.down {
  width: 1rem;
  height: 1rem;
  margin-top: 7px;
}

#text-search {
  background: none;
  border: none;
  width: 18rem;
  padding-left: 7px;
  padding-top: 2px;
  outline: none;
}

.campaign-image {
  height: 20rem;
  border-radius: 20px;
}

.block {
  margin-top: 20px;
  background: #F8F9FAFF;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 74rem;
  align-items: center;
  margin-left: 10rem;
  border-top: solid rgba(137, 137, 137, 0.405);
}

.footer-logo {
  height: 13rem;
  width: 13rem;
}

.email-group {
  display: flex;
}

.socials {
  width: 10rem;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.fb-logo,
.t-logo,
.li-logo,
.yt-logo {
  height: 2rem;
  width: 2rem;
}

.products {
  margin-top: -37px;
}

.resources {
  margin-top: -15px;
}

.company {
  margin-top: -40px;
}

.subscribe {
  margin-left: 15rem;
}

.subscribe h5 {
  margin-bottom: 1px;
}

.subscribe p {
  font-size: 11px;
}

.email {
  border: 1px solid;
  border-radius: 9px;
  width: 15rem;
  margin-right: 10px;
}

#email {
  margin-top: 3px;
  width: 12rem;
  margin-left: 5px;
  outline: none;
  border: none;
}

.mail-icon {
  height: 20px;
  width: 20px;
  margin-bottom: 3px;
  margin-left: 4px;
}

#subscribe-btn {
  border-radius: 9px;
}

.container-center {
  margin: auto;
  width: 60rem;
  margin-top: 3rem;
  margin-left: 25rem;
}

.container-cen {
  display: flex;
}

#col {
  border: 1px solid;
  margin-left: 1rem;
  width: 16rem;
  height: 20rem;
  border: 1px solid rgba(137, 137, 137, 0.405);
  border-radius: 20px;
}

.endorsment-sec {
  display: flex;
  flex-direction: column;
}

.endorsment-sec h6,
.endorsment-sec p {
  margin: auto;
}

.endorsement-btn {
  display: flex;
  flex-direction: column;
}

.endorsement-btn button {
  width: 14rem;
  margin: auto;
  margin-bottom: 10px;
}

.comment-section {
  width: 16.3rem;
  border: 1px solid rgba(137, 137, 137, 0.405);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-top: 15px;
  margin-left: -2px;
}

.comment-section h6,
.comment-section div {
  margin-left: 10px;
  margin-top: 4px;
}

.description {
  border: 1px solid rgba(137, 137, 137, 0.405);
  border-radius: 20px;
  margin: 5px 0;
  width: 30rem;
}

.description h6,
.description p {
  margin-left: 10px;
  margin-top: 4px;
  padding-right: 5px;
}

.recent-donations {
  width: 15rem;
  height: 8.3rem;
  margin: auto;
}

.comment {
  display: flex;
}

.comment img {
  height: 1.5rem;
  width: 1.5rem;
  margin: 0 6px;
}

.donation {
  display: flex;
  margin-top: 4px;
  font-size: small;
  height: 2.5rem;
}

.donation img {
  height: 1.2rem;
  width: 1.2rem;
  margin: 1px 6px;
}

.a {
  font-size: small;
  margin-left: 16px;
  margin-bottom: 2px;
}

.section1 {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: -moz-fit-content;
  width: fit-content;
  height: 36.5rem;
  justify-content: center;
}

.postal-code {
  width: 25rem;
}

.section1-2 {
  width: 26rem;
  line-height: 2.5rem;
}

.section1-2 p {
  border: 1px solid rgba(137, 137, 137, 0.405);
  border-radius: 20px;
  display: inline;
  padding: 4px 10px;
  margin: 4px 4px;
}

#continue {
  display: flex;
  margin-left: 20rem;
  margin-top: 5rem;
}

.section2,
.section3,
.section4,
.section5 {
  display: flex;
  flex-direction: column;
  width: 30rem;
  margin: auto;
  height: 36.5rem;
  justify-content: center;
}

.section2 h6 {
  margin: 1.5rem auto;
}

.section2 button {
  width: fit-content;
}

.section2-1 {
  border: 1px solid rgba(137, 137, 137, 0.405);
  margin-bottom: 2rem;
  padding: 15px 15px;
  line-height: 10px;
  border-radius: 20px;
  cursor: pointer;
}

.BTN {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.section4 button {
  width: fit-content;
}

.stepper {
  margin: 0 20px;
  margin-top: 35px;
}