.view-all {
    text-align: end;
}

.popular-campaigns {
    margin: 30px;
}

.new-campaigns {
    margin: 30px;
}

@media only screen and (max-width: 480px) {
    .view-all {
        text-align: center;
    }

    h4 {
        text-align: center;
    }
}